.banner {
    text-align: center;
    width: 500px;
    height: 40px;
    border: 1px solid black;
    box-shadow: 5px 10px lightgray;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(144, 187, 230);
}

h4 {
    padding-bottom: 20px;
}

#white {
    margin-bottom: 20px;
    margin-left: 43%;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    background-color: white;
}
#pink {
    margin-bottom: 20px;
    margin-left: 43%;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    background-color: rgb(255, 164, 202);
}
#blue {
    margin-bottom: 20px;
    margin-left: 43%;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    background-color: rgb(77, 160, 238);
}
#container {
    display: block;
    border: 10px solid black;
    padding: 10px;
    width: 400px;
    height: 180px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}
#container-3 {
    display: block;
    border: 10px solid black;
    padding: 10px;
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}
#row-box {
    height: 100px;
    width: 80px;
    margin-bottom: 40px;
}
#box {
    margin-bottom: 20px;
    margin-left: 43%;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    background-color: rgb(77, 160, 238);
}
#square {
    margin-bottom: 20px;
    margin-left: 43%;
  
    width: 60px;
    height: 60px;
    border: 3px solid black;
    background-color: white;
}
#Inp1 {
    margin-left: 100px;
}
#list {
    margin-top: 20px;
    text-align: center;
    text-decoration: dotted;
}
h6 {
    text-align: center;
    padding-top: 10px;
}

#row-buttons {
    height: 100px;
    width: 80px;
  
}
#pink-button {
    width: 60px;
    height: 40px;
    float: left;
    border: 1px solid black;
    background-color: rgb(255, 164, 202);
    box-shadow: 5px 10px lightgray;
    margin-top: 10px;
    margin-left: 75px;
   
}
#blue-button {
    width: 60px;
    height: 40px;
    float: left;
    border: 1px solid black;
    background-color: rgb(77, 160, 238);
    box-shadow: 5px 10px lightgray;
    margin-top: 10px;
    margin-left: 10px;
}
#reset {
    width: 60px;
    height: 40px;
    float: left;
    border: 1px solid black;
    box-shadow: 5px 10px lightgray;
    margin-top: 10px;
    margin-left: 10px;
}
#demo {
   text-align: center; 
   padding: 10px;
}
#green-button {
    width: 60px;
    height: 40px;
    float: left;
    border: 1px solid black;
    background-color: green;
    box-shadow: 5px 10px lightgray;
    margin-top: 10px;
    margin-left: 75px;   
}
#red-button {
    width: 60px;
    height: 40px;
    float: left;
    border: 1px solid black;
    background-color: red;
    box-shadow: 5px 10px lightgray;
    margin-top: 10px;
    margin-left: 10px;   
}
#black-button {
    width: 60px;
    height: 40px;
    float: left;
    border: 1px solid black;
    box-shadow: 5px 10px lightgray;
    margin-top: 10px;
    margin-left: 10px;
}

#rectangle {
    margin-bottom: 20px;
    margin-left: 40%;
  
    width: 100px;
    height: 60px;
    border: 3px solid black;
    background-color: white;
}

#Inp2 {
    margin-left: 100px;
}